body {
  margin: 0px;
  position: relative;
}

/*헤더영역 시작*/

header {
  position: relative;
}

#headerbar_upper {
  background-color: #ff5331;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 65px;
  height: 67px;
  margin-left: 44px;
}

#trigger {
  display: none;
}

label[for="trigger"] {
  width: 2.5vw;
  height: 2vh;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

label[for="trigger"] span {
  display: block;
  height: 0.5vmin;
  background-color: #f0f8ff;
  position: absolute;
  left: 0;
  width: 50%;
  transition: 0.4s;
  z-index: 1000;
}

label[for="trigger"] span:nth-child(1) {
  top: 0;
}

label[for="trigger"] span:nth-child(2) {
  top: 50%;
}

label[for="trigger"] span:nth-child(3) {
  top: 100%;
}

input[id="trigger"]:checked + label span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

input[id="trigger"]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id="trigger"]:checked + label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

/*헤더영역끝*/

/*햄버거버튼 클릭히면 나오는 네비메뉴*/

.slidemenu.active {
  display: flex;
  transition: all ease 2s 0s;
  justify-content: space-evenly;
  padding-top: 130px;
  flex-wrap: wrap;
}

.slidemenu {
  width: 100vw;
  height: 100%;
  background-color: #070f4e;
  position: absolute;
  z-index: 500;
  display: none;
  transition: 1s;
  flex-wrap: wrap;
}

.slidemenubox {
  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidemenubox h1 {
  color: #ede9d0;
  font-size: 32px;
  font-weight: bold;
}

.menubox_underline {
  width: 100%;
  height: 5px;
  background-color: #ede9d0;
}

.slidemenu a {
  text-decoration: none;
  color: #ede9d0;
  font-size: 18px;
}

.slidemenu a h3 {
  font-size: 16px;
}

.slidemenu a:hover {
  color: #ff5331;
  transition: all ease 1s 0s;
  font-weight: bold;
}

/*햄버거버튼 클릭히면 나오는 네비메뉴 끝*/

/* 푸터 시작*/
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  background-color: #ff5331;
  display: flex;
  justify-content: space-around;
}

.footer_left {
  margin: 40px 0px 0px 40px;
}

.footer_left p:first-child {
  font-size: 48px;
  font-weight: bold;
  color: #f0f8ff;
  margin: 0px;
}

.footer_left p:nth-child(2) {
  font-size: 48px;
  font-weight: bold;
  color: #3ab1c8;
  margin: 0px 0px 10px;
}

.footer_left img {
  width: 135px;
  height: 113px;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_right div {
  display: flex;
  vertical-align: middle;
}

.footer_right div h2 {
  color: #f0f8fe;
}

.footer_right div h2 {
  color: #f0f8fe;
}

.footer_right div h2:first-child {
  color: #3ab1c8;
}

.connection_me {
  text-decoration: none;
  color: #f0f8fe;
}

.fa-solid {
  font-size: 5vmin;
}

.schedule {
  display: flex;
  flex-direction: column;
  color: #f0f8fe;
}

/*푸터 끝*/
